@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h6,p,h5 {
    font-family: 'Concert One', cursive;
    letter-spacing: 0.2vw;
}
h1::selection,h2::selection,h6::selection,p::selection,a::selection,h5::selection,img::selection {
    background: rgba(0, 0, 0, 0.1);
}
h6 {
    cursor: pointer;
    transition: color 0.5s;
}
h6:hover {
    color: rgb(150, 150, 150);
}
#current-city {
    margin-top: 5vw;
    text-transform: capitalize;
    font-size: 3vw;
}
header {
    background: rgba(245, 222, 179, 0.5);
    height: 100vh;
    overflow: hidden;
    border-bottom: 0.2vw solid black;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5vw 1vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5.1px);
}
header nav h6 {
    font-size: 1.3vw;
}
header section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
header section .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 65%;
    margin-top: -10vw;
}
header section .cards .card {
    padding: 1vw 0;
    width: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.7vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
}
header section .cards .card h1 {
    color: white;
    font-size: 2vw;
}
header section .cards .card h2 {
    color: white;
    font-size: 1.5vw;
}
::-webkit-scrollbar {
    display: none;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1vw;
    background: rgba(245, 222, 179, 0.7);
}
footer img {
    width: 4vw;
}
footer h1 {
    font-size: 1.8vw;
}
a {
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: red;
}
h5 {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    font-size: 1.5vw;
}
@media screen and (max-width: 1300px) {
    #current-city {
        font-size: 50px;
    }
    header nav {
        flex-wrap: wrap;
    }
    header nav h6 {
        font-size: 20px;
        margin: 0 5px;
    }
    header section .cards {
        width: 90%;
        flex-wrap: wrap;
        margin-top: 0;
        height: 80%;
        padding: 0;
    }
    header section .cards .card {
        width: 25vw;
        padding: 5vw;
    }
    header section .cards .card h1 {
        font-size: 3.5vw;
    }
    header section .cards .card h2 {
        font-size: 3vw;
    }
}
@media screen and (max-width: 500px) {
    header section .cards {
        height: 70%;
    }
    header section .cards .card {
        width: 150px;
        padding: 4vw 0;
        gap: 4vw;
    }
    header section .cards .card h1 {
        font-size: 8vw;
    }
    header section .cards .card h2 {
        font-size: 6vw;
    }
    header h5 {
        font-size: 5.5vw;
    }
}
