@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h6,p {
    font-family: 'Nerko One';
    letter-spacing: 0.2vw;
}
h1::selection,h2::selection,h6::selection,p::selection {
    background: rgba(0, 0, 0, 0.1);
}
h6 {
    cursor: pointer;
    transition: 0.5s;
}
h6:hover {
    color: rgba(255, 255, 255, 0.7);
}
header {
    background: linear-gradient(19deg,#21d4fd,#b721ff);
    height: 100vh;
    overflow: hidden;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5vw 1vw;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5.1px);
}
header nav h6 {
    font-size: 1.3vw;
}
header section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
header section .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 65%;
}
header section .cards .card {
    padding: 1vw 0;
    width: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.7vw;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
}
header section .cards .card h1 {
    color: white;
    font-size: 2vw;
}
header section .cards .card h2 {
    color: white;
    font-size: 1.5vw;
}
::-webkit-scrollbar {
    width: 0.5vw;
    background: linear-gradient(19deg,#21d4fd,#b721ff);
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(190deg,#21d4fd,#b721ff); 
    border-radius: 10px;
  }